@import "../../vars.css";

.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center; 
    margin-top: 50px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}

.profileImg {
    width: 35%; 
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
    margin-bottom: 20px;
    width: 50%; 
}

.title {
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: var(--font-roboto);
    color: var(--color-text);
    margin: 0;
}

.description {
    font-size: 30px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px; 
}

.downloadCvBtn {
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 30px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    margin-bottom: 10px;
}

.downloadCvBtn:hover {
    background-color: var(--color-dark);
}

.socialLinks {
    display: flex;
    gap: 10px;
}

.socialIcon {
    width: 40px; 
    height: 40px; 
}

.topBlur {
    position: absolute;
    width: 50vw;
    height: 50vw;
    min-width: 350px;
    top: -128px;
    left: 10vw;
    border-radius: 764px;
    background: rgb(130, 40, 94);
    filter: blur(100px);
    z-index: 0;
}

.bottomBlur {
    position: absolute;
    width: 70vw;
    height: 50vw;
    min-width: 250px;
    top: 240px;
    right: -25vw;
    left: 10vw;
    border-radius: 764px;
    background: rgb(130, 40, 94);
    filter: blur(100px);
    z-index: 0;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, -0px);
    }
}

@media screen and (max-width: 830px) {
    .container {
        flex-direction: column-reverse; 
        align-items: center; 
        margin-left: 5%; 
        margin-right: 5%; 
    }

    .profileImg {
        width: 60%; 
        margin-bottom: 20px; 
    }

    .content {
        width: 100%; 
        text-align: center; 
    }

    .title {
        font-size: 40px;
        margin-bottom: 20px;
        text-align: center;
        margin: 0;
    }

    .description {
        font-size: 24px;
        margin-bottom: 30px;
    }

    .downloadCvBtn {
        font-size: 24px;
        padding: 12px 18px;
    }
}
